svg.layer {
    position: absolute;
    width: 50%;
    height: 100%;
}

.LEFT,
.RIGHT {
    display: inline-block;
    height: 100%;
    width: 50%;
}

svg.overlay {
    transform-origin: center;
    position: absolute;
}

div.container {
    height: 100%;
    width: 100%;
}

.LEFT,
.RIGHT {
    display: inline-block;
    height: 100%;
    width: 50%;
}
