.Eyelids path {
    fill: black;
    stroke: black;
    stroke-width: 2;
}

.BlackFill path {
    fill: black;
    stroke: black;
    stroke-width: 2;
}

.pupil {
    fill: url(#pupilGradient);
}

.sclera {
    fill: url(#scleraGradient);
}

.iris {
    fill: url(#irisGradient);
}
