.Eyelids path {
    fill: black;
    stroke: black;
    stroke-width: 2;
    position: absolute;
    fill-rule: evenodd;
}

.inner,
g.reflection {
    transform-origin: center;
}

svg.overlay {
    transform-origin: center;
    position: absolute;
}

div.container {
    height: 100%;
    width: 100%;
}

.LEFT,
.RIGHT {
    display: inline-block;
    height: 100%;
    width: 50%;
}
