:root {
  --main-background-colour: #222;
  --menu-background-colour: #111;
  --menu-text-colour: #818181;
  --menu-top-padding: 60px;
  --menu-z-index: 10;
  --canvas-z-index: 20;
  --canvas-width: 100%;
}

.ConfigMenu {
  /* Position */
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  position: fixed;

  /* View */
  padding-top: var(--menu-top-padding);
  background-color: var(--menu-background-colour);
  overflow-x: hidden;
  z-index: var(--menu-z-index);
  display: inline-block;

  /* Font */
  text-decoration: none;
  color: var(--menu-text-colour);
  font-size: 1.2em;

  transition: 500ms;
}

.ConfigMenu a,
.ConfigMenu label,
.ConfigMenu input,
.ConfigMenu h1 {
  padding: 10px;
  width: 50%;
  display: inline-block;
}

.ConfigMenu input {
  width: 25%;
}
