:root {
    --main-background-colour: #222;
    --menu-background-colour: #111;
    --menu-text-colour: #818181;
    --menu-top-padding: 60px;
    --menu-z-index: 10;
    --canvas-z-index: 20;
    --canvas-width: 100%;
}

.ConfigMenu {
    /* Position */
    top: 0;
    left: 0;
    height: calc(100% - var(--menu-top-padding));
    width: 0;
    position: fixed;

    /* View */
    padding-top: var(--menu-top-padding);
    background-color: var(--menu-background-colour);
    overflow-x: hidden;
    z-index: var(--menu-z-index);
    display: inline-block;

    /* Font */
    text-decoration: none;
    color: var(--menu-text-colour);
    font-size: 1.2em;

    transition: 500ms;
}

.ConfigMenu a,
.ConfigMenu label,
.ConfigMenu input,
.ConfigMenu select,
.ConfigMenu h1 {
    padding: 10px;
    width: calc(var(--canvas-width) / 2);
    display: inline-block;
}

.ConfigMenu input {
    width: calc(var(--canvas-width) / 4);
}

.ConfigMenu select {
    width: calc(var(--canvas-width) / 2.9);
}

.ConfigMenu #canvas {
    width: var(--canvas-width);
}

.icon {
    width: 2em;
    border-radius: 25%;
    color: #fff;
    line-height: 2em;
    text-align: center;
    background: rgb(61, 61, 61);
    display: inline-block;
    top: -0.25em;
}
