.colorPicker-content {
    width: fit-content !important;
    padding: 1px !important;
}

.colorPicker-overlay {
    background: rgba(0, 0, 0, 0.2) !important;
}

.launchColorPicker {
    width: 70%;
    position: absolute;
    left: 15%;
}

.closeColorPicker {
    position: absolute;
    width: 50%;
    left: 25%;
}
